html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
}
html{
	background-image:url('./default.jpg');
}

#search {
	margin-left: -50%;
	margin-top: -5em;
	width: 100%;
	background-color: rgba(240, 240, 240, 0.2);
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15) inset;
	-moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15) inset;
	-webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15) inset;
	transition: background-color 0.15s ease-in-out 0s;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	-moz-transition: background-color 0.15s ease-in-out 0s;
	color: #555555;
	padding: 6px 12px;
	font-size: 2ex;
	line-height: 2.6ex;
}
#search:focus {
	background-color: rgba(255, 255, 255, 0.85);
}

#main {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40%;
	max-width: 48ex;
	min-width: 16ex;
}
#foot {
	position: absolute;
	width: 100%;
	height: 3em;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
#info {
	position: absolute;
	bottom: 1em;
	right: 1em;
}
#cmd {
	position: absolute;
	bottom: 1em;
	left: 1em;
}
#info a, #cmd a{
	color: silver;
	text-decoration: none;
}
#info a:hover, #cmd a:hover{
	color: white;
}
#cmd i{
	margin-left: 1ex;
}

